.navbar {
	background-color: #DA2C38;
}
a {
	color:#F4F0BB;
	font-family: 'Merriweather';
}
.icon-bar{
	background-color:#F4F0BB;
}
.navbar {
	margin-bottom: 0px;
}

.fondo {
	background-image: url("../img/creamy.jpg");
	height: 400px;
	background-size: cover;
	background-position: center;
}
.titulo , .bajada {
	text-align: center;
	color:#F4F0BB;
	font-family: 'Merriweather';
	
}
.titulo {
	margin-top: 30%;
}
.opacidad {
	background-color: rgba(62,63,64,.5);
	height: 400px;
}
.descripcion {
	background-color:#F4F0BB; 
	color:#DA2C38;
	font-family: 'Merriweather';
	height: 435px;
	
}
.oh {
	margin-top: 12%;
	text-align: center;
}
.creamy {
	margin-top: 5%;
	text-align: center;
	margin-left: 16px 0; 
}
.copahelado {
	height:371px;
	width: 556px;
	margin-left:-15px;
	margin-top: 4%; 
}

/*seccion cuatro*/
.about {
	background-color:#DA2C38;
	height:234px; 
	color:#F4F0BB; 
	text-align: center;
	font-family: 'Merriweather'; 
}
.aboutcreamy{
	margin-top: 60px;
}

/*ICONOS*/
span{
	font-size: 80px;
	
}
.amarillo{
	background-color:#F4F0BB;
	height: 437px; 
}
.iconos{
	color: #DA2C38;
	font-family: 'Merriweather';
	padding-top: 5%;
	padding-bottom: 10%;
	
}

/* FOOTER */
.registro{
	color: #F4F0BB;
	font-family: 'Merriweather';
	display: inline-block;
	height: 10%;
	margin-top: 20px;
}

.color{
	background-color : #DA2C38 ;
	
}
/*MEDIA QUERY*/

@media (min-width:1000px) {

.copahelado {
	width: 100%;	
	}
.titulo{
	margin-top:17%;
	}
}
@media (max-width: 420px){
	.registro{
		height: 1%;
		margin-top: 5px;
	}
	.amarillo{
		height: 90%;
	}
	.about{
		 background-color: #DA2C38;
		 height: 100%;
	}
}
